body {
  background-image: ;url("https://i.pinimg.com/originals/4c/ba/b9/4cbab97eaf40a31982176951814d0c11.gif");
  background-repeat: no-repeat;
  background-size: 	1500px 3000px;
}
.font {
	color: white;
}